/* @font-face {
    font-family: 'Oswaldwght';
    src: url('../fonts/Oswald/Oswald[wght].woff') format('woff');
    src: url('../fonts/Oswald/Oswald[wght].woff2') format('woff2');
    src: url('../fonts/Oswald/Oswald[wght].ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-ExtraLight';
    src: url('../fonts/Oswald/Oswald-ExtraLight.woff') format('woff');
    src: url('../fonts/Oswald/Oswald-ExtraLight.woff2') format('woff2');
    src: url('../fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Light';
    src: url('../fonts/Oswald/Oswald-Light.woff') format('woff');
    src: url('../fonts/Oswald/Oswald-Light.woff2') format('woff2');
    src: url('../fonts/Oswald/Oswald-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald/Oswald-Regular.woff') format('woff');
    src: url('../fonts/Oswald/Oswald-Regular.woff2') format('woff2');
    src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Medium';
    src: url('../fonts/Oswald/Oswald-Medium.woff') format('woff');
    src: url('../fonts/Oswald/Oswald-Medium.woff2') format('woff2');
    src: url('../fonts/Oswald/Oswald-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: url('../fonts/Oswald/Oswald-SemiBold.woff') format('woff');
    src: url('../fonts/Oswald/Oswald-SemiBold.woff2') format('woff2');
    src: url('../fonts/Oswald/Oswald-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald/Oswald-Bold.woff') format('woff');
    src: url('../fonts/Oswald/Oswald-Bold.woff2') format('woff2');
    src: url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype');
} */

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
}

.navbar-neglect {
    padding-top: 5rem;
}

.background {
    width: 100%;
    height: 100%;
    background: url('../images/web-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

@media screen and (min-resolution: 1.5dppx) {
    .background {
        background-image: url('../images/web-background-higher.jpg') no-repeat center center fixed;
    }
}

@media screen and (min-resolution: 2dppx) {
    .background {
        background-image: url('../images/web-background-highest.jpg') no-repeat center center fixed;
    }
}

.nav-border {
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    border-bottom: 3px solid #00907c;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
}

.nav-border.scrolled {
    height: 82px;
    left: 0;
    opacity: 1;
}

.nav-border.stay {
    height: 82px;
    left: 0;
    opacity: 1;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bg-cstm {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0;
    padding: 1rem inherit !important;
    /* font-size: 1rem; */
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    /* Firefox 4 */
    -webkit-transition-timing-function: linear;
    /* Safari and Chrome */
    -o-transition-timing-function: linear;
    /* Opera */
    animation-timing-function: linear;
    box-shadow: 0;
    transition: all 0.3s ease;
}

.bg-cstm.scrolled {
    background: #171717;
    box-shadow: 0px 2px 10px #000, 0px 1px 7px #000;
}

.bg-cstm.stay {
    background: #171717;
    box-shadow: 0px 2px 10px #000, 0px 1px 7px #000;
}

.bg-header-products {
    width: 100%;
    height: 300px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px -8px 10px rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}

.bg-header-products img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.anchor {
    display: block;
    visibility: hidden;
}

.logo {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%) scale(0.8);
    z-index: 1331;
    transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    /* Firefox 4 */
    -webkit-transition-timing-function: linear;
    /* Safari and Chrome */
    -o-transition-timing-function: linear;
    /* Opera */
    transition: all 0.7s ease;
}

.logo.scrolled {
    top: -6px;
    left: 4rem;
    transform: translate(0) scale(0.4);
}

.logo.stay {
    top: -6px;
    left: 4rem;
    transform: translate(0) scale(0.4);
}

.menu-icon {
    position: relative;
    width: 52px;
    right: 0;
    padding: 0.25rem 0.75rem;
    margin-left: auto;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s ease;
    display: none;
}

.menu-icon:hover {
    transform: scale(1.2);
}

.menu-icon span {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    margin: 6px 0;
    background: #fff;
    transition: all 0.3s ease;
}

.menu-icon.clicked span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
}

.menu-icon.clicked span:nth-child(2) {
    opacity: 0;
}

.menu-icon.clicked span:nth-child(3) {
    top: -10px;
    transform: rotate(135deg);
}

/* .container {
    padding: 0 4rem;
} */

.nav-item {
    text-align: center !important;
}

.nav-link-regular {
    background: transparent;
    border-top: 2px solid transparent;
}

.nav-link-regular:hover {
    border-top: 2px solid #00907c;
}

.activated {
    background: #00907c;
    border-radius: 40px;
}

.nav-link-special {
    border-radius: 5px;
    background: #00907c;
}

.nav-link-special:hover {
    background: orange;
}

.nav-link-cstm {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
    margin: 0 0.25rem;
    color: rgba(255, 255, 255, 1) !important;
    transition: all 0.3s ease;
}

a.active {
    color: #696969 !important;
    pointer-events: none;
}

a.active:hover {
    border-top: 2px solid transparent;
}

.homelink {
    position: relative;
}

.homelink:after {
    content: "";
    height: 20px;
    width: 1px;
    background: #00907c;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    /* half of your height */
}

.sub-menus {
    font-size: 0.8rem;
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
    line-height: 1.5rem;
}

.dropdown-menu {
    margin-bottom: 10px;
}

.dropdown-item {
    border-bottom: 1px solid #212529;
    transition: all 0.3s ease;
}

.dropdown-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.dropdown-item:hover {
    background: #00907c;
    border-bottom: 1px solid transparent;
    color: #fff;
}

.jumbotron {
    padding: 1.75rem 0 !important;
}

.header-title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-title h1 {
    font-size: 3rem;
    font-weight: 700;
}

.big-title-w {
    display: inline-block;
    border-bottom: 4px solid #fff;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.75rem 0;
    font-family: 'Karla', sans-serif;
}

.big-title-b {
    display: inline-block;
    border-bottom: 4px solid #212529;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.75rem 0;
    font-family: 'Karla', sans-serif;
}

.about .big-title-w, .big-title-b {
    margin-bottom: 2rem;
}

.map .big-title-w, .big-title-b {
    margin-bottom: 2rem;
}

.client .big-title-w, .big-title-b {
    margin-bottom: 2rem;
}

.title {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}

.about .title {
    cursor: pointer;
}

.client .title {
    display: block;
    text-align: left;
}

.title .about-title-next {
    position: absolute;
    visibility: hidden;
    left: 55px;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.title .about-title {
    opacity: 1;
    transition: all 0.5s ease;
}

.title:hover .about-title-next {
    opacity: 1;
    visibility: visible;
}

.title:hover .about-title {
    opacity: 0;
    visibility: hidden;
}

.img-separator {
    width: 65%;
    display: block;
    margin: 0 auto;
}

#home {
    padding-top: 12rem;
}

.home {
    width: 100%;
    color: #fff;
    padding-bottom: 4rem;
}

.selector {
    margin: 1.5rem 0;
    display: flex;
}

.selector:nth-child(odd) {
    justify-content: start;
    justify-content: flex-start;
    text-align: left;
}

.selector:nth-child(even) {
    justify-content: end;
    justify-content: flex-end;
    text-align: right;
}

.icons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.selector:nth-child(even) .icons .icons-img {
    order: 2;
}

.selector:nth-child(even) .icons .icons-text {
    order: 1;
}

.selector:nth-child(odd) .icons .icons-img {
    order: 1;
}

.selector:nth-child(odd) .icons .icons-text {
    order: 2;
}

.icons-text {
    margin: 0 1rem;
}

#about {
    margin: 0;
}

.about {
    width: 100%;
    text-align: justify;
    font-weight: 400;
    /*     background: #171717; */
    padding: 6rem 0;
    color: #fff;
}

.text-divider {
    width: 100%;
    margin: 1.5rem 0;
    padding-left: 15px;
    border-top: 1px solid #fff;
    border-radius: 40px;
}

.v-divider:after {
    background: #101010;
    width: 2px;
    content: "";
    display: block;
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 70%;
}

#product {
    margin: 0;
}

.product {
    width: 100%;
    background: #2a3840;
    background-size: cover;
    color: #fff;
    text-align: justify;
    text-align-last: right;
    padding: 6rem 0;
    font-weight: 400;
}

.wrapper-product {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.learn-more {
    padding: 0.5rem 0.75rem;
    background: transparent;
    border-radius: 40px;
    border: 1px solid #00907c;
    line-height: 1.75rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.learn-more a {
    text-decoration: none;
    color: #00907c;
}

.learn-more:hover {
    background: #00907c;
}

.learn-more:hover a {
    color: #fff;
}

.map {
    padding-top: 6rem;
    background: #fff;
    text-align: center;
}

.map-responsive {
    overflow: hidden;
    position: relative;
    padding-bottom: 65%;
    height: 0;
    width: 100%;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.map-loc {
    color: #212529;
}

.map-button {
    border: 1px solid #d0d0d0;
    font-size: 16px;
    cursor: pointer;
}

.map-button:hover {
    color: #00907c;
}

.button-active {
    color: #fff;
    background: #00907c;
}

.map-button.button-active:hover {
    color: #fff;
}

.map .map-button span {
    position: absolute;
    left: 40px;
    padding-top: 0;
    transition: all 0.3s ease;
}

.rotate {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.map-title {
    text-decoration: none;
    padding: 10px 30px;
    line-height: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
}

.map-detail {
    font-size: 14px;
    height: auto;
    display: none;
    overflow: hidden;
}

.map-detail ul {
    padding: 0.75rem 0;
    margin: 0;
    background: #d0d0d0;
    border: 1px solid #d0d0d0;
}

.map-detail ul li {
    list-style: none;
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #d0d0d0;
}

.map-detail ul li:last-child {
    list-style: none;
    padding: 0.5rem 0.75rem;
    border-bottom: 0;
}

.client {
    padding: 6rem 0;
    color: #212529;
    background: #fff;
    text-align: center;
}

.client img, .partner img {
    display: block;
    margin: 0 auto;
}

.slider {
    width: 100%;
    overflow: hidden;
}

#slide-client {
    position: relative;
    width: 400%;
    margin-top: -2rem;
    left: 0;
    /* animation: 30s slidy infinite; */
}

#slide-partner {
    position: relative;
    width: 500%;
    margin-top: -2rem;
    left: 0;
    /* animation: 40s slidy-2 infinite; */
}

#slide-client .slide-item {
    width: 25%;
    float: left;
}

#slide-partner .slide-item {
    width: 20%;
    float: left;
}

.footer {
    width: 100%;
    height: auto;
    padding: 2rem 10%;
    text-align: left;
    font-weight: 400;
    background: #171717;
    color: #fff;
    font-family: 'Karla', sans-serif;
}

.footer-logo {
    transform: scale(1);
    margin-left: 0;
}

.sdgc-logo-footer {
    transform: scale(1);
    height: 40px;
    margin-right: 1rem;
}

.polaris-logo-footer {
    transform: scale(1);
}

.company-name {
    font-size: 15px;
    padding-top: 5px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}

.company-address {
    font-size: 16px;
    margin: 0;
}

.footer-infos-cust, .footer-infos-follow, .footer-infos-marketing {
    margin: 0 auto;
}

.footer-lists {
    font-size: 16px;
    margin: 0rem 0;
    padding: 0;
}

.footer-lists li h5 {
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0;
    border-bottom: 2px solid #00907c;
    padding: 0.25rem 0;
    font-family: 'Karla', sans-serif;
}

.footer-lists li p {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.footer-lists li {
    list-style: none;
    padding: 0.25rem 0rem;
}

.socmed a {
    color: #fff;
    font-size: 22px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.socmed a:hover {
    color: #00907c !important;
}

.support-menus-text {
    font-size: 14px;
}

.support-menus-text {
    white-space: nowrap;
}

.support-menus-text a {
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 0.35rem;
    padding-left: 0.1rem;
}

.support-menus-text a:hover {
    color: #fff;
}

.support-menus-text a:nth-child(5) {
    border-right: 0 !important;
    padding-right: 0rem;
}

/* REGISTER PAGE */

.loader {
    position: fixed;
    display: none;
    left: 50%;
    top: 50%;
    font-size: 6em !important;
    color: #c0c0c0;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.signup-content {
    width: 100%;
    margin: 0 auto;
    padding: 35px 75px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}

.signup-form {
    width: 100%;
    color: #fff;
}

.form-title {
    margin-bottom: 50px;
}

.form-submit {
    background: #00907c;
    color: #fff;
    padding: 1rem 0.75rem !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease;
}

input.regsubmit.form-submit {
    border: 1px solid #00907c !important;
    display: block;
    margin: 0 auto;
}

input.regsubmit.form-submit:hover {
    background: orange;
    border: 1px solid orange !important;
}

.form-check-input:checked {
    background: rgba(59, 178, 226, 1);
    color: #fff;
}

.term-service {
    font-size: 13px;
    color: #fff;
}

.register-form {
    width: 100%;
    overflow: hidden;
}

.form-wrapper {
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

#package {
    padding: 0 12rem;
    display: block;
}

#identity {
    padding: 0 12rem;
    display: none;
}

#review {
    padding: 0 12rem;
    display: none;
}

.form-group-reg {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.form-group-reg:last-child {
    margin-bottom: 0px;
}

.form-group-reg .form-span {
    display: block;
    padding-left: 27px;
}

.form-control {
    background: transparent !important;
}

input.regsubmit {
    width: auto;
    display: inline-block;
    border: none !important;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

input.reg {
    width: 100%;
    display: block;
    border: none !important;
    color: rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211) !important;
    border-radius: 0 !important;
    padding: 6px 30px !important;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

input.reg.input-cstm {
    width: 100%;
    display: block;
    padding: 6px 14px !important;
}

input.reg::-webkit-input-placeholder {
    color: rgb(211, 211, 211);
}

input.reg::-moz-placeholder {
    color: rgb(211, 211, 211);
}

input.reg:-ms-input-placeholder {
    color: rgb(211, 211, 211);
}

input.reg:-moz-placeholder {
    color: rgb(211, 211, 211);
}

input.reg:focus {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

input.reg:focus::-webkit-input-placeholder {
    color: #fff;
}

input.reg:focus::-moz-placeholder {
    color: #fff;
}

input.reg:focus:-ms-input-placeholder {
    color: #fff;
}

input.reg:focus:-moz-placeholder {
    color: #fff;
}

.radio-cstm {
    display: inline-block;
    position: relative !important;
    padding-left: 25px;
    padding-top: 2px;
    margin: 6px 0;
    cursor: pointer;
    font-size: 14px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-cstm:last-child {
    margin-left: 20px;
}

/* NGILANGIN DEFAULT RADIO */

.radio-cstm input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* CUSTOM */

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
    transition: all 0.5s ease;
}

/* HOVER JADI ABU ABU BGNYA */

.radio-cstm:hover input~.checkmark {
    background-color: #ccc;
}

/* IF CHECKED, BGNYA JADI IJO */

.radio-cstm input:checked~.checkmark {
    background-color: #00907c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */

.radio-cstm input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.radio-cstm .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.form-control.select-cstm {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    margin: 6px 0;
    display: block;
    color: rgb(211, 211, 211);
    background: url('../images/selectarrow.png') no-repeat 97% center !important;
    cursor: pointer;
}

.form-control.select-cstm:focus {
    color: #495057;
}

input.reg[type=checkbox]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: none;
}

input.reg[type=checkbox]:not(old)+label {
    display: inline-block;
    line-height: 1.5em;
    margin-top: 6px;
}

input.reg[type=checkbox]:not(old)+label>span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 15px;
    margin-bottom: 5px;
    border: 1px solid #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    background: white;
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
    vertical-align: bottom;
}

input.reg[type=checkbox]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white);
}

input.reg[type=checkbox]:not(old):checked+label>span:before {
    content: '\f26b';
    display: block;
    color: #fff;
    font-size: 11px;
    line-height: 1.2;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold;
}

.agree-term {
    display: inline-block;
    width: auto;
}

.form-group-reg label {
    position: absolute;
    left: 0;
    font-size: 15px;
    color: #fff;
}

#identity .form-group-reg:nth-child(6) {
    margin-bottom: 0;
}

.label-agree-term {
    position: relative;
    top: 0;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}

.form-control.textarea-cstm {
    resize: none;
    height: 100px;
    color: rgb(211, 211, 211);
    overflow: visible;
}

.choose-package {
    color: #fff !important;
    background: #00907c;
    border: 1px solid #00907c;
    border-radius: 5px;
    padding: 1rem 0.75rem;
    display: block;
    font-weight: bold;
    margin: 1rem auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-button {
    color: rgb(206, 4, 4) !important;
    background: transparent;
    border: 1px solid rgb(206, 4, 4);
    border-radius: 5px;
    padding: 1rem 0.75rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.next-button {
    color: #fff !important;
    background: #00907c;
    border: 1px solid #00907c;
    border-radius: 5px;
    padding: 1rem 0.75rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-back-button {
    color: #fff !important;
    background: rgb(206, 4, 4);
    border: 1px solid rgb(206, 4, 4);
    border-radius: 5px;
    padding: 1rem 0.75rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

input.regsubmit.form-submit, .next-button, .back-button, .form-back-button {
    width: 45.5%;
}

.choose-package:disabled {
    background: transparent !important;
    color: #00907c !important;
    border: 1px solid #00907c;
    cursor: default;
}

.choose-package:disabled:hover {
    background: transparent !important;
    color: #00907c !important;
    border: 1px solid #00907c;
}

.choose-package:hover {
    background: orange !important;
    border: 1px solid orange;
    color: #fff;
}

.next-button:hover {
    background: orange;
    color: #fff !important;
    border: 1px solid orange;
}

.next-button:disabled {
    background: transparent;
    color: #00907c !important;
    border: 1px solid #00907c;
    cursor: default;
}

.next-button:disabled:hover {
    background: transparent;
    color: #00907c !important;
}

.back-button:hover, .form-back-button:hover {
    background: rgb(206, 4, 4);
    color: #fff !important;
    border: 1px solid rgb(206, 4, 4);
}

.form-submit, .form-back-button {
    margin-top: 40px !important;
}

.back-button, .next-button {
    margin-top: 40px;
    font-weight: bold;
}

/*# sourceMappingURL=style.css.map */

.button-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-label {
    display: inline-block;
    position: relative;
    width: 45%;
    height: max-content;
    height: -moz-max-content;
    height: -webkit-max-content;
    height: -o-max-content;
    margin: 5rem auto 0;
    vertical-align: middle;
    padding: 0.75rem;
    color: #00907c;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.5s ease;
}

/* MAX HEIGHT BUAT DI IE SAMA EDGE, COZ, THEY'RE NOT SUPPORT A GODDAMN MAX-CONTENT! */

.button-label.dm {
    max-height: 573px;
}

.button-label.colo {
    max-height: 383px;
}

.checklist {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    right: 3px;
    top: -15px;
    box-shadow: 0px 1px 4px #000;
}

.checklist:after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: orange;
    color: #fff;
    right: 5px;
    top: 5px;
    padding: 4px 0px 0px 7px;
    display: none;
}

.button-label h2 {
    font-weight: bold;
    margin: 0 !important;
}

.button-title {
    padding: 0.5rem 1rem;
    text-align: center;
}

.button-label hr {
    background: #a1a1a1;
    height: 1px;
    margin: 0;
}

.button-body {
    color: #000;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    padding: 0.25rem 0.25rem;
}

.button-body ul {
    padding: 0;
    margin: 0;
}

.button-body ul li {
    list-style-type: none;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.25rem;
}

.package-text {
    display: inline-block;
    margin: 0;
    max-width: 75%;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.package-radio {
    display: inline-block;
    position: absolute;
    font-size: 14px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top;
    left: 80%;
}

.button-body ul li input {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.button-body .checkmark-square {
    position: absolute;
    top: 5px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #c0c0c0;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all 0.5s ease;
}

input.radio-item[type=radio]:checked+.checkmark-square {
    background-color: orange;
}

.button-title h2 {
    font-size: 1.2rem;
}

.button-planned h2 {
    font-size: 1.4rem;
}

.button-planned label {
    display: block !important;
    margin-bottom: 0 !important;
    cursor: pointer;
}

.button-label:hover {
    background: #027464;
    color: rgb(226, 226, 226);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}

.button-label:hover hr {
    background: #027464;
}

.button-label.active {
    background: orange;
    color: #fff;
    transform: translateY(-3rem);
}

.button-label.active .checklist:after {
    display: block;
}

.button-label.active hr {
    background: orange;
}

.button-body ul li:hover {
    background: #027464;
    color: #fff;
}

.button-label.active .button-body ul li.active {
    color: #fff;
    background: orange;
}

.button-label.active .button-body ul li.active:hover {
    background: orange;
    color: #fff;
}

.button-label.active .button-body ul li:hover {
    background: rgb(195, 195, 195);
    color: #000;
}

.hidden {
    display: none;
}

.parameter {
    width: 100%;
    margin-bottom: 10rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.progressbar-cstm {
    counter-reset: step;
}

.progressbar-cstm li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.progressbar-cstm li:before {
    position: relative;
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 auto 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 35px;
    color: #00907c;
    font-weight: bold;
    font-size: 1.25rem;
    background: #fff;
    z-index: 2;
    transition: all 0.5s ease;
}

.progressbar-cstm li:after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: 15px;
    left: -50%;
    background: #fff;
    z-index: 1;
    transition: all 0.5s ease;
}

.progressbar-cstm li:first-child:after {
    content: none;
}

.progressbar-cstm li p {
    margin: 0;
}

.progressbar-cstm li.active {
    color: #00907c;
}

.progressbar-cstm li.completed {
    color: #00907c;
}

.progressbar-cstm li.active:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f110';
    background: #00907c;
    border: 2px solid #00907c;
    color: #fff;
}

.progressbar-cstm li.completed:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f00c';
    background: #00907c;
    border: 2px solid #00907c;
    color: #fff;
}

.progressbar-cstm li.completed+li:after {
    background: #00907c;
}

.progressbar-cstm li.active+li:after {
    background: #00907c;
}

#captcha iframe {
    margin-top: 28px;
}

/* END REGISTER STYLE */

.download-button {
    color: #fff !important;
    background: #00907c;
    border: 1px solid #00907c;
    border-radius: 5px;
    padding: 1rem 0.75rem;
    display: block;
    width: 33.33%;
    margin: 20px auto 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.download-button:hover {
    background: orange;
    color: #fff !important;
    border: 1px solid orange;
}

.pointer {
    cursor: pointer;
}

.img-pop {
    transition: all 0.3s ease;
}

.img-pop:hover {
    transform: scale(1.05);
}

.faq-modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    background-color: rgba(0, 0, 0, 0.95);
    transition: all 0.3s ease;
    opacity: 0;
}

.faq-modal::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.faq-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 80%;
    padding: 0.75rem;
    max-width: 700px;
}

.modal-next-button {
    position: absolute;
    right: calc(0% - 1px);
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    border-radius: 5px 0 0 5px;
    color: #fff;
    padding: 0.75rem;
    transform: translate(0, -50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-back-button {
    position: absolute;
    left: calc(0% - 1px);
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    border-radius: 0 5px 5px 0;
    color: #fff;
    padding: 0.75rem;
    transform: translate(0, -50%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-back-button:hover, .modal-next-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.modal-icon {
    position: relative;
    display: block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 40px;
    text-align: center;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 5px;
}

.modal-icon:hover {
    transform: scale(1.2);
}

.modal-icon span {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.faq-control span {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.3);
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.faq-control span:hover {
    color: rgba(255, 255, 255, 1);
}

.faq-control.active span {
    color: rgba(255, 255, 255, 1);
}

.whatsapp-me {
    position: fixed;
    bottom: 20px;
    font-size: 1.4rem;
    right: 20px;
    z-index: 1;
}

.whatsapp-me a {
    color: #fff;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    white-space: nowrap;
    background: #00907c;
    transition: all 0.3s ease;
}

.whatsapp-me a:hover {
    background: #027464;
}

.back-home {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.35rem 0;
    border-bottom: 2px solid #00907c;
    transition: all 0.3s ease;
}

.back-home:hover {
    color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
/*     .container {
        max-width: 860px;
    } */
    .visi {
        padding-right: 3rem;
    }
    .misi {
        padding-left: 0rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        padding: 0 4rem;
    }
    .container.wrapping {
        margin: 0 !important;
        max-width: 100% !important;
    }
    .home {
        padding-bottom: 6rem;
    }
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .content-product:nth-child(even) .row .wrapper-product.img-product {
        order: 1;
    }
    .content-product:nth-child(even) .row .wrapper-product.text-product {
        order: 2;
    }
}

@media screen and (max-width: 1199.98px) {
    .signup-content {
        padding: 35px 0;
    }
    #package {
        padding: 0 10rem;
    }
    #identity {
        padding: 0 10rem;
    }
    #review {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 991.98px) {
    .logo.scrolled {
        top: -6px;
        left: 0rem;
    }
    .container.wrapping {
        padding: 0 !important;
        margin-right: 15px;
    }
    .logo.stay {
        top: -6px;
        left: 0rem;
    }
    .footer {
        text-align: center;
    }
    .footer-start, .footer-center, .footer-end {
        padding: 2rem 0;
    }
    .footer-infos-cust, .footer-infos-follow, .footer-infos-marketing, .footer-infos-group, .footer-infos-support {
        margin-left: auto;
        margin-right: auto;
    }
    .v-divider:after {
        margin: auto 0;
        position: absolute;
        top: 100%;
        bottom: 0;
        right: 50%;
        transform: rotate(90deg);
        height: 80vw;
    }
    .ext {
        margin-left: -5px;
    }
    .parameter {
        width: 150%;
        margin-left: -30%;
    }
    #identity {
        padding: 0 0rem;
    }
    #review {
        padding: 0 0rem;
    }
    #package {
        padding: 0 0rem;
    }
}

@media screen and (max-width: 767.98px) {
    .logo.scrolled {
        left: 0rem;
    }
    .container.wrapping {
        padding: 0 !important;
        margin-right: 15px;
    }
    .logo.stay {
        left: 0rem;
    }
    #home {
        padding-top: 12rem;
    }
    .selector {
        margin: 0.75rem 0;
    }
    .selector:nth-child(odd) {
        justify-content: center;
        justify-content: center;
        text-align: center;
    }
    .selector:nth-child(even) {
        justify-content: center;
        justify-content: center;
        text-align: center;
    }
    .selector:nth-child(even) .icons .icons-img {
        order: 1;
    }
    .selector:nth-child(even) .icons .icons-text {
        order: 2;
    }
    .selector:nth-child(odd) .icons .icons-img {
        order: 1;
    }
    .selector:nth-child(odd) .icons .icons-text {
        order: 2;
    }
    .icons {
        flex-wrap: wrap;
    }
    .icons-img {
        flex: 1 100%;
    }
    .icons-text {
        flex: 1 100%;
        margin: 1rem 0;
    }
    #package {
        padding: 0 4rem;
    }
    .button-label {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .navbar-neglect {
        padding-top: 4.7rem;
    }
    .nav-border {
        height: 76px;
        left: 0;
        opacity: 1;
    }
    .nav-border.scrolled {
        height: 76px;
        left: 0;
        opacity: 1;
    }
    .nav-border.stay {
        height: 76px;
        left: 0;
        opacity: 1;
    }
    .bg-cstm {
        background: #171717;
    }
    .bg-cstm.scrolled {
        background: #171717;
    }
    .logo {
        top: -12px;
        left: -2rem;
        transform: translate(0) scale(0.4);
    }
    .logo.scrolled {
        top: -12px;
        left: -2rem;
    }
    .logo.stay {
        top: -12px;
        left: -2rem;
    }
    .container.wrapping {
        max-width: 100%;
        padding: 0 !important;
        margin: 0 15px;
    }
    .menu-icon {
        display: block;
        right: 0;
    }
    .menus {
        position: absolute;
        width: 100%;
        height: auto;
        top: 72px;
        left: -100%;
        background: #171717;
        padding: 1.5rem 1.5rem;
        box-shadow: 0px 3px 15px #000;
        opacity: 0;
        z-index: -2;
        transition: all 0.5s ease;
    }
    .menus.clicked {
        left: 0;
        opacity: 1;
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
    .nav-item {
        margin: 2px 0;
    }
    .nav-link-regular {
        background: transparent;
        border-bottom: 2px solid #101010;
    }
    .nav-link-regular:hover {
        border-bottom: 2px solid #00907c;
    }
    .navbar-nav .dropdown-menu {
        position: static !important;
    }
    .dropdown-menu {
        text-align: center;
    }
    #home {
        padding-top: 8rem;
    }
    .faq-modal-content {
        width: 90%;
    }
    .modal-back-button, .modal-next-button {
        font-size: 1.2rem;
    }
    .faq-control span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 575.98px) {
    body {
        font-size: 14px;
    }
    .title {
        font-size: 1rem;
    }
    .big-title-b, .big-title-w {
        font-size: 1.75rem;
    }
    .container {
        padding: 0 2rem;
    }
    .parameter {
        padding: 0 2rem;
        font-size: 10px;
    }
    .map-button {
        font-size: 14px;
    }
    .company-name {
        font-size: 14px;
    }
    .company-address {
        font-size: 14px;
    }
    .footer-lists {
        font-size: 14px;
    }
    .footer-lists li h5 {
        font-size: 15px;
    }
    .socmed a {
        font-size: 20px;
    }
    .footer-start, .footer-center, .footer-end {
        padding: 1.5rem 0;
    }
    .sdgc-logo-footer {
        margin-right: 0;
    }
    #package {
        padding: 0 10%;
    }
    .download-button {
        width: 50%;
        font-size: 1rem;
    }
    .faq-control span {
        font-size: 1rem;
    }
    .whatsapp-me {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 419.98px) {
    .container {
        padding: 0 1rem;
    }
    .download-button {
        font-size: 0.75rem;
    }
    .faq-control span {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 374.98px) {
    #package {
        padding: 0 0;
    }
}

 /* RUBI CHANDRAPUTRA, SEBAGAI  PROJEK MAGANG PT.AKPA @2019 */
 /* email: rubichandrap@gmail.com */